* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f6;
}

.heading {
  text-align: center;
  margin-top: 1rem;
  color: #202b3a;
  margin-bottom: 2rem;
}

.shopping-cart-container {
  margin: 1rem 4rem;
}

@media screen and (max-width: 768px) {
  .shopping-cart-container {
    margin: 0.5rem 2rem;
  }
}

.cart-summary-container {
  padding-top: 2rem;
}

.cart-summary-heading {
  color: #202b3a;
  font-size: 1.5rem;
}
